$gtb_blue: #1fbce7;
$happy_green: #0EC129;

html, body, #view {
	position: relative;
	height: 100%;
	width: 100%;
}

.center_vertically {
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
}

.booking_form {
  z-index: 2;
  background-color: $gtb_blue;
  padding: 25px;
  border-radius: 5px;
  width: 350px;

  &.view_booking {
  	background-color: $happy_green;
  }
}

.navbar {
	margin-bottom: 15px;

	.btn {
		cursor: pointer;
	}
}

.filters_wrapper {
	margin-bottom: 15px;
	padding: 0;
	z-index: 2;

	&.float-md-right {
		text-align: end;
	}
}

.custom_alert, .custom_confirm {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	width: 50%;
	z-index: 10;

	.confirm_button {
		margin-right: 10px;
	}
}

.booking_details {
	font-size: 12px;
  display: block;
  line-height: 15px;
}

.input-group .form-control {
	width: 100%;
}

.disabled {
	opacity: 0.6;
  pointer-events: none;

  .alert.alert-warning.custom_confirm, .alert.custom_alert {
  	opacity: 1;
    pointer-events: all;
  }
}