<div id="newBookingForm" class="col-md-10 offset-md-1 center_vertically">
  <form>
    <div class="form-group">
      <label for="title">Booking Title:</label>
      <input type="text" class="form-control" id="title">
    </div>

    <div class="form-group">
      <label for="notes">Booking Notes:</label>
      <textarea class="form-control" id="notes"></textarea>
    </div>

    <div class="form-group">
      <label for="resource">Select Resource:</label>
      <select class="form-control" id="resource">
        <option>Option1</option>
      </select>
    </div>

    <div class="form-group">
      <label for="project">Select project:</label>
       <select class="form-control" id="project">
        <option>Option1</option>
      </select>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
