<div class="col-md-10 offset-md-1 center_vertically" ng-controller="loginController">
 
	<h2> Sign Into Resources </h2>
  
  <form>

    <div class="form-group">
      <label for="username"> Enter Username </label>
      <input id="username" class="form-control" type="text" name="username" value="">
    </div>

    <div class="form-group">
      <label for="password"> Enter Password </label>
      <input id="password" class="form-control" type="password" name="password" value="">
    </div>

    <button type="submit" class="btn btn-primary" ng-click="test()"> Submit </button>
    <input type="hidden" name="_token" value="">

  </form>
  
</div>