<div ng-controller="resourceViewController">

	<div class="filters_wrapper col-md-6 float-md-left">
		<label for="projectFilter">Filter by peoject:</label>
		<select class="col-md-6" id="projectFilter" ng-model="projectFilter" name="projectFilter" ng-change="filterMethod(projectFilter, 'project_name')">
			<option value="">None selected</option>
	    <option ng-repeat="project in projects" value="{{project.name}}">{{project.name}}</option>
		</select>
	</div>

	<div class="filters_wrapper col-md-6 float-md-right">
		<label for="resourceFilter">Filter by resource:</label>
		<select class="col-md-6" id="resourceFilter" ng-model="resourceFilter" name="resourceFilter" ng-change="filterMethod(resourceFilter, 'resource_name')" ng-disabled="notAdmin">
			<option value="">None selected</option>
		   <option ng-repeat="resource in resources" value="{{resource.first_name}} {{resource.last_name}}">{{resource.first_name}} {{resource.last_name}}</option> 
		</select>
	</div>

	<div class="calendar"></div>
  <div class="realtime-info"></div>

	<div name="newBookingForm" id="newBookingForm" class="center_vertically booking_form" ng-show="creatingBooking">
	  <form name="bookingForm" ng-submit="bookingForm.$valid && addBookingToDb(bookingDates)">

	  	<h5>Add details for new booking</h5>

	    <div class="form-group">
	      <label for="bookingTitle">Booking Title:</label>
	      <input type="text" class="form-control" id="bookingTitle" required>
	    </div>

	    <div class="form-group">
	      <label for="bookingNotes">Booking Notes:</label>
	      <textarea class="form-control" id="bookingNotes"></textarea>
	    </div>

	    <div class="form-group">
	      <label for="resourceName">Select Resource:</label>
	      <select class="form-control" id="resourceName" required>
	        <option value="">-- Please select a resource: --</option>
	        <option ng-repeat="resource in resources | orderBy: 'first_name'" value="{{resource.first_name}} {{resource.last_name}}" ng-disabled="resource.bookable === '0'">{{resource.first_name}} {{resource.last_name}} </option>
	      </select>
	    </div>

	    <div class="form-group">
	      <label for="projectName">Select project:</label>
	      <select class="form-control" id="projectName" required>
	       	<option value="">-- Please select a peoject: --</option>
	        <option ng-repeat="project in projects" value="{{project.name}}">{{project.name}}</option>
	      </select>
	    </div>

	    <button class="btn btn-warning" ng-click="closeForm('newBookingForm')">Cancel</button>
	    <button type="submit" class="btn btn-primary">Save</button>
	  </form>
	</div>

	<div name="displayBookingForm" id="displayBookingForm" class="center_vertically booking_form view_booking" ng-show="showBookingData">
	  <form>

	  	<h5>View/edit details for booking {{bookingToDisplay.id}}</h5>

	    <div class="form-group">
	      <label for="editBookingTitle">Booking Title:</label>
	      <input type="text" class="form-control" id="editBookingTitle" value="{{bookingToDisplay.title}}" required>
	    </div>

	    <div class="form-group">
	      <label for="editBookingNotes">Booking Notes:</label>
	      <textarea class="form-control" id="editBookingNotes" value="{{bookingToDisplay.notes}}">{{bookingToDisplay.notes}}</textarea>
	    </div>

	    <div class="form-group">
	      <label for="editResourceName">Select Resource:</label>
	      <select class="form-control" id="editResourceName" value="{{bookingToDisplay.resource_name}}" required>
	       <option ng-repeat="resource in resources" ng-selected="resource.first_name +' '+ resource.last_name === bookingToDisplay.resource_name" value="{{resource.first_name}} {{resource.last_name}}" ng-disabled="resource.bookable === '0'">{{resource.first_name}} {{resource.last_name}}</option>
	      </select>
	    </div>

	    <div class="form-group">
	      <label for="editProjectName">Select project:</label>
	       <select class="form-control" id="editProjectName" required>
	        <option ng-repeat="project in projects" ng-selected="project.name === bookingToDisplay.project_name" value="{{project.name}}" >{{project.name}}</option>
	      </select>
	    </div>

	    <button class="btn btn-warning" ng-click="closeForm('displayBookingForm')">Close</button>
	    <button type="submit" class="btn btn-primary" ng-click="updateBooking(bookingToDisplay.id)">Update</button>
	    <button type="submit" class="btn btn-danger" ng-click="deleteBooking(bookingToDisplay.id)">Delete</button>
	  </form>
	</div>

	<div name="newProjectForm" id="newProjectForm" class="center_vertically booking_form" ng-show="creatingProject">
	  <form>

	  	<h5>New project</h5>

	    <div class="form-group">
	      <label for="newProjectName">Project Name:</label>
	      <input type="text" class="form-control" id="newProjectName" value="" required>
	    </div>

	    <div class="form-group">
	      <label for="projectColorCode">Select Project Color:</label>
	      <input type="color" class="form-control input-lg" id="projectColorCode" style="height: 40px;"></input>
	    </div>

	     <div class="form-group">
	      <label for="projectNotes">Project Notes:</label>
	      <textarea class="form-control" id="projectNotes"></textarea>
	    </div>

	    <button class="btn btn-warning" ng-click="closeForm('newProjectForm')">Close</button>
	    <button type="submit" class="btn btn-primary" ng-click="saveProject()">Save</button>
	  </form>
	</div>

	<div name="editProjectForm" id="editProjectForm" class="center_vertically booking_form view_booking" ng-show="showProjectData">
	  <form>

	  	<h5>Edit project</h5>

	    <div class="form-group">
	      <label for="projectEditName">Project Name:</label>
	      <input type="text" class="form-control" id="projectEditName" value="{{projectDataToDisplay.name}}" required>
	    </div>

	    <div class="form-group">
	      <label for="projectEditColorCode">Select Project Color:</label>
	      <input type="color" class="form-control input-lg" id="projectEditColorCode" style="height: 40px;" value="{{projectDataToDisplay.color}}"></input>
	    </div>

	    <div class="form-group">
	      <label for="projectEditNotes">Project Notes:</label>
	      <textarea class="form-control" id="projectEditNotes" value="{{projectDataToDisplay.notes}}">{{projectDataToDisplay.notes}}</textarea>
	    </div>

	    <button class="btn btn-warning" ng-click="closeForm('editProjectForm')">Close</button>
	    <button type="submit" class="btn btn-primary" ng-click="updateProject(projectDataToDisplay.id)">Update</button>
	    <button class="btn btn-danger" ng-click="deleteProject(projectDataToDisplay.id)">Delete</button>
	  </form>
	</div>
</div>
