<div ng-controller="resourceViewController">

	<div class="input-group col-md-12 filters_wrapper">
		<select class="form-control col-md-3 offset-md-2" id="projectFilter" ng-model="projectFilter" ng-change="filterMethod(projectFilter, 'projectName')">
			<option value="">Filter bookings by peoject</option>
	    <option ng-repeat="project in projects" value="{{project.name}}">{{project.name}}</option>
		</select>

		<select class="form-control form-control col-md-3 offset-md-2" id="resourceFilter" ng-model="resourceFilter" ng-change="filterMethod(resourceFilter, 'resourceName')">
			<option value="">Filter bookings by resource</option>
		  <option ng-repeat="resource in resources" value="{{resource.first_name}} {{resource.last_name}}">{{resource.first_name}} {{resource.last_name}}</option>
		</select>
	</div>

	<div id="resourceCalendar" ui-calendar="uiConfig.calendar" ng-model="eventSources" ng-if="eventSources"></div>

	<div name="newBookingForm" id="newBookingForm" class="col-md-6 offset-md-3 center_vertically booking_form" ng-show="creatingBooking">
	  <form>

	  	<h5>Add details for new booking</h5>

	    <div class="form-group">
	      <label for="bookingTitle">Booking Title:</label>
	      <input type="text" class="form-control" id="bookingTitle">
	    </div>

	    <div class="form-group">
	      <label for="bookingNotes">Booking Notes:</label>
	      <textarea class="form-control" id="bookingNotes"></textarea>
	    </div>

	    <div class="form-group">
	      <label for="resourceName">Select Resource:</label>
	      <select class="form-control" id="resourceName">
	        <option value="">-- Please select a resource: --</option>
	        <option ng-repeat="resource in resources" value="{{resource.first_name}} {{resource.last_name}}">{{resource.first_name}} {{resource.last_name}}</option>
	      </select>
	    </div>

	    <div class="form-group">
	      <label for="projectName">Select project:</label>
	      <select class="form-control" id="projectName">
	       	<option value="">-- Please select a peoject: --</option>
	        <option ng-repeat="project in projects" value="{{project.name}}">{{project.name}}</option>
	      </select>
	    </div>

	    <button class="btn btn-warning" ng-click="closeForm()">Cancel</button>
	    <button type="submit" class="btn btn-primary" ng-click="addBookingToDb(bookingDates)">Save</button>
	  </form>
	</div>

	<div name="displayBookingForm" id="displayBookingForm" class="col-md-6 offset-md-3 center_vertically booking_form view_booking" ng-show="showBookingData">
	  <form>

	  	<h5>View/edit details for booking {{bookingToDisplay.id}}</h5>

	    <div class="form-group">
	      <label for="editBookingTitle">Booking Title:</label>
	      <input type="text" class="form-control" id="editBookingTitle" value="{{bookingToDisplay.title}}">
	    </div>

	    <div class="form-group">
	      <label for="editBookingNotes">Booking Notes:</label>
	      <textarea class="form-control" id="editBookingNotes" value="{{bookingToDisplay.notes}}">{{bookingToDisplay.notes}}</textarea>
	    </div>

	    <div class="form-group">
	      <label for="editResourceName">Select Resource:</label>
	      <select class="form-control" id="editResourceName" value="{{bookingToDisplay.resourceName}}">
	       <option ng-repeat="resource in resources" ng-selected="resource.first_name +' '+ resource.last_name === bookingToDisplay.resourceName" value="{{resource.first_name}} {{resource.last_name}}">{{resource.first_name}} {{resource.last_name}}</option>
	      </select>
	    </div>

	    <div class="form-group">
	      <label for="editProjectName">Select project:</label>
	       <select class="form-control" id="editProjectName">
	        <option ng-repeat="project in projects" ng-selected="project.name === bookingToDisplay.projectName" value="{{project.name}}">{{project.name}}</option>
	      </select>
	    </div>

	    <button class="btn btn-warning" ng-click="closeForm()">Close</button>
	    <button type="submit" class="btn btn-primary" ng-click="updateBooking(bookingToDisplay.id, bookingToDisplay.arrayIndex)">Update</button>
	    <button type="submit" class="btn btn-danger" ng-click="deleteBooking(bookingToDisplay.id, bookingToDisplay.arrayIndex)">Delete</button>
	  </form>
	</div>
</div>