<div ng-controller="resourceViewController">

	<div class="filters_wrapper col-md-6 float-md-left">
		<label for="projectFilter">Filter by peoject:</label>
		<select class="col-md-6" id="projectFilter" ng-model="projectFilter" name="projectFilter" ng-change="filterMethod(projectFilter, 'project_name')">
			<option value="">None selected</option>
	    <option ng-repeat="project in projects" value="{{project.name}}">{{project.name}}</option>
		</select>
	</div>

	<div class="filters_wrapper col-md-6 float-md-right">
		<label for="resourceFilter">Filter by resource:</label>
		<select class="col-md-6" id="resourceFilter" ng-model="resourceFilter" name="resourceFilter" ng-change="filterMethod(resourceFilter, 'resource_name')">
			<option value="">None selected</option>
		  <option ng-repeat="resource in resources" value="{{resource.first_name}} {{resource.last_name}}">{{resource.first_name}} {{resource.last_name}}</option>
		</select>
	</div>

	<div id="resourceCalendar" ui-calendar="uiConfig.calendar" ng-model="eventSources" ng-if="eventSources"></div>

	<div name="newBookingForm" id="newBookingForm" class="col-md-6 offset-md-3 center_vertically booking_form" ng-show="creatingBooking">
	  <form name="bookingForm" ng-submit="bookingForm.$valid && addBookingToDb(bookingDates)">

	  	<h5>Add details for new booking</h5>

	    <div class="form-group">
	      <label for="bookingTitle">Booking Title:</label>
	      <input type="text" class="form-control" id="bookingTitle" required>
	    </div>

	    <div class="form-group">
	      <label for="bookingNotes">Booking Notes:</label>
	      <textarea class="form-control" id="bookingNotes"></textarea>
	    </div>

	    <div class="form-group">
	      <label for="resourceName">Select Resource:</label>
	      <select class="form-control" id="resourceName" required>
	        <option value="">-- Please select a resource: --</option>
	        <option ng-repeat="resource in resources" value="{{resource.first_name}} {{resource.last_name}}">{{resource.first_name}} {{resource.last_name}}</option>
	      </select>
	    </div>

	    <div class="form-group">
	      <label for="projectName">Select project:</label>
	      <select class="form-control" id="projectName" required>
	       	<option value="">-- Please select a peoject: --</option>
	        <option ng-repeat="project in projects" value="{{project.name}}">{{project.name}}</option>
	      </select>
	    </div>

	    <button class="btn btn-warning" ng-click="closeForm()">Cancel</button>
	    <button type="submit" class="btn btn-primary">Save</button>
	  </form>
	</div>

	<div name="displayBookingForm" id="displayBookingForm" class="col-md-6 offset-md-3 center_vertically booking_form view_booking" ng-show="showBookingData">
	  <form>

	  	<h5>View/edit details for booking {{bookingToDisplay.id}}</h5>

	    <div class="form-group">
	      <label for="editBookingTitle">Booking Title:</label>
	      <input type="text" class="form-control" id="editBookingTitle" value="{{bookingToDisplay.title}}" required>
	    </div>

	    <div class="form-group">
	      <label for="editBookingNotes">Booking Notes:</label>
	      <textarea class="form-control" id="editBookingNotes" value="{{bookingToDisplay.notes}}">{{bookingToDisplay.notes}}</textarea>
	    </div>

	    <div class="form-group">
	      <label for="editResourceName">Select Resource:</label>
	      <select class="form-control" id="editResourceName" value="{{bookingToDisplay.resource_name}}" required>
	       <option ng-repeat="resource in resources" ng-selected="resource.first_name +' '+ resource.last_name === bookingToDisplay.resource_name" value="{{resource.first_name}} {{resource.last_name}}">{{resource.first_name}} {{resource.last_name}}</option>
	      </select>
	    </div>

	    <div class="form-group">
	      <label for="editProjectName">Select project:</label>
	       <select class="form-control" id="editProjectName" required>
	        <option ng-repeat="project in projects" ng-selected="project.name === bookingToDisplay.project_name" value="{{project.name}}" >{{project.name}}</option>
	      </select>
	    </div>

	    <button class="btn btn-warning" ng-click="closeForm()">Close</button>
	    <button type="submit" class="btn btn-primary" ng-click="updateBooking(bookingToDisplay.id)">Update</button>
	    <button type="submit" class="btn btn-danger" ng-click="deleteBooking(bookingToDisplay.id)">Delete</button>
	  </form>
	</div>
</div>