
<div ng-controller="resourceController">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Occupation</th>
        <th>Email</th>
        <th>Admin</th>
        <th>Bookable</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="resource in resources">
        <td>
          <div class="form-group">
            <input id="resourceName" class="form-control" value="{{resource.first_name}} {{resource.last_name}}" type="text">
          </div>
        </td>
        <td>
          <div class="form-group">
            <select id="resourceOccupation" class="form-control">
              <option ng-repeat="item in resourceTypes" ng-selected="resource.resource_type === item">{{item}}</option>
            </select>
          </div>
        </td>
        <td>
          <div class="form-group">
            <input id="resourceEmail" class="form-control" value="{{resource.email}}" type="text">
          </div>
        </td>
        <td>
          <div class="form-group">
            <input id="resourceIsAdmin" class="form-control" type="checkbox" ng-checked="resource.admin === '1'">
          </div>
        </td>
        <td>
          <div class="form-group">
            <input id="resourceBookable" class="form-control" type="checkbox" ng-checked="resource.bookable === '1'">
          </div>
        </td>
        <td>
          <div class="form-group">
            <button type="submit" class="btn btn-primary" ng-click="updateResource(resource.id)">Update</button>
          </div>
        </td>
        <td value="">
          <div class="form-group">
            <button class="btn btn-danger" ng-click="deleteResource(resource.id)">Delete</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>